@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
/* App.css */

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 2%;
}

::-webkit-scrollbar-track {
  background: #9b96dd;
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Change the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

